header{
    background:blueviolet;
    padding:5%;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
button{
    padding:20px;
    margin:10px;
}

.s1{
    background:rgb(205, 172, 237);
    padding:5%;
    display:flex;
    color:black;
    align-items:center;
}
.s1>div{
    flex-basis:50%;
}
.s1 img{
    width:100%;
    height:100%;
}


.doctorcontainer{
    display:grid;
    grid-template-columns:1fr 1fr 1fr  ;
    padding:5%;
    gap:20px;
}
img{
    width:100%;
    height:100%;
}

.form-container{
    width:70%;
    margin:auto;
}
form{
    border:2px solid black;
    padding:5%;
}
input,select{
    display:block;
    width:100%;
    padding:10px;
    margin:10px;
}
form button{
    width: 100%;
    background:black;
    color:white;
}